@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

:root {
  --dark-color: #171717;
  --secondary-color: #3c948b;
  --offwhite-color: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  margin: 0 auto;
  width: 85%;
}

/* Navbar */

.navbar {
  background-color: var(--dark-color);
}
.nav__content {
  display: flex;
  justify-content: space-between;
}
.brand {
  /* border: 1px solid green; */
  padding: 0.5rem 0;
  border: none;
}
.brand a {
  text-decoration: none;
  color: var(--offwhite-color);
}
.brand a:hover {
  color: var(--secondary-color);
}
.nav__links {
  /* border: 1px solid green; */
  padding: 0.5rem 0;
}
.nav__links > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav__links li {
  margin-top: 0.4rem;
}
.nav__links a {
  text-decoration: none;
  padding: 0 0 0 1rem;
  color: var(--offwhite-color);
}
.nav__links a:hover {
  color: var(--secondary-color);
}

/* searchbar styles */

.search__bar {
  margin: 1.5rem 0;
}
.search__form > input {
  padding: 0.5rem;
  margin: 1rem 0;
  width: 100%;
  color: var(--dark-color);
  background-color: var(--offwhite-color);
  border: 1px solid var(--dark-color);
  outline-width: 0ch;
}
.search__form > input:focus {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
}
.btn {
  padding: 0.5rem;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  cursor: pointer;
  color: var(--offwhite-color);
}
.btn:hover {
  color: var(--secondary-color);
}
.btn-block {
  display: block;
  width: 100%;
}

/* alert style */

.alert {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid var(--dark-color);
}
.alert-warning {
  background: #f8ffc4;
  border: 1px solid #ffee00;
}

.alert-danger {
  background: #ffc4c4;
  border: 1px solid #ff0000;
}

.alert-info {
  background: #d7eafe;
  border: 1px solid #0523b7;
}
